.slider h3,
.slider h5,
.clients h3 
.parallax-container h3{
    text-shadow: 1px 1px 3px rgb(0,0,0,0.7);
}

.parallax-container {
    height: 20%;;
}

.parallax img {
    filter: grayscale(1);
    opacity: 0.4 !important;
}

.portfolio .clients {
    text-shadow: 1px 1px 3px rgb(0,0,0,0.7);
}

.clients img {
    max-width: 170px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0.8));
}

section, footer{
    padding: 20px 0;
}

.nav-wrapper img {
    padding-top: 22px;
}

footer p{
    font-size: 100%;
}

.sosmedku{

}

.butobuto{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #f1f1f1;
    margin: 20px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #000000;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.butobuto i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
}

.butobuto:hover i{
    transform: scale(1.3);
    color: #f1f1f1;

}

.butobuto::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.butobuto:hover::before{
    animation: aaa 1s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0%{
        left: -110%;
        top: 90%;
    }

    50%{
        left: 10%;
        top: -30%;
    }

    100%{
        top: -10%;
        left: -10%;
    }
}